      <div class="menuPerfil col md-4">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header text-center">
            <h1 class="h4">Options</h1>
          </div>
          <div class="card-body p-4">
            <div class="row mb-3">
              <a href="/perfil" class="btn btn-block {{#if editor}} btn-info disabled {{else}} btn-ouline-info {{/if}}">Profile</a>
            </div>
            <div class="row mb-3">
              <a href="/list/noticias" class="btn btn-block {{#if pass3}} btn-info disabled {{else}} btn-outline-info{{/if}}">News</a>
            </div>
            <div class="row mb-3">
              <a href="/add/noticias" class="btn btn-block {{#if pass4}} btn-info disabled {{else}} btn-outline-info{{/if}}">Add news</a>
            </div>
            <div class="row mb-5">
              <a href="/update/usuario" class="btn btn-block {{#if admin}} btn-info disabled {{else if employee}} btn-info disabled {{else if editor}}btn-info disabled{{else if perfil}} btn-info disabled {{else}} btn btn-outline-info {{/if}}">Edit profile</a>
            </div>
            <div class="row mt-5">
              <a href="/salir" class="btn btn-outline-danger btn-block">LogOut</a>
            </div>
          </div>
        </div>
      </div>